<div class="container-fluid">
    <div class="row" style="margin: 15px;">
        <div class="text-center" style="font-size: 19.60708px">Employee Form Template</div>

        <div id="fb-editor">
        </div>
        <button type="button" class="btn btn-success" id="getJSON" (click)="onSubmit();">Submit</button>

    </div>

    <pre> Submitted Value: <br>
         {{ formData | json}}</pre>
</div>