<div [formGroup]="form">

    <div [ngSwitch]="controlItem.type">

        <!--TextBox-->
        <div *ngSwitchCase="'text'">
            <div class="form-group">
                <label for=""> {{ controlItem.label }}</label>
                <input class="form-control" [formControlName]="controlItem.name" [id]="controlItem.name" type="text" />
            </div>
        </div>

        <!--Number-->
        <div *ngSwitchCase="'number'">
            <div class="form-group">
                <label for=""> {{ controlItem.label }}</label>
                <input class="form-control" [formControlName]="controlItem.name" [id]="controlItem.name" type="number" />
            </div>
        </div>

        <!--Text Area-->
        <div *ngSwitchCase="'textarea'">
            <div class="form-group">
                <label for=""> {{ controlItem.label }}</label>
                <textarea class="form-control" [formControlName]="controlItem.name" rows="5" [id]="controlItem.name"></textarea>
            </div>
        </div>

        <!--Radio Button-->
        <div *ngSwitchCase="'radio-group'">
            <label for=""> {{ controlItem.label }}</label>

            <label class="radio-inline" *ngFor="let option of controlItem.values; let i = index">
                 <input type="radio"  >{{ option.label}}

                 <!--[formControlName]="controlItem.name + i"-->
            </label>

        </div>

        <!--Dropdown-->
        <div *ngSwitchCase="'select'">
            <label for=""> {{ controlItem.label }}</label>

            <select class="form-control " [id]="controlItem.name " [formControlName]="controlItem.name">
        <option value=" ">-Select-</option>
         <option *ngFor="let opt of controlItem.values " [value]="opt.value ">{{opt.label}}</option>
      </select>

        </div>



    </div>
</div>