<div class="container-fluid">
	<div class="row" style="margin: 15px;">

		<div id="emp-form">
		</div>

		<form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>

			<div *ngFor="let item of controlList">
				<dynamic-form [controlItem]="item" [form]="form"></dynamic-form>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="submit" *ngIf="!isEdit" class="btn btn-primary">Save</button>
					<button type="button" *ngIf="isEdit" (click)="updateSubmit()" class="btn btn-primary">Update</button>
				</div>
			</div>
		</form>
	</div>

	<div>
		<table class="table table-hover table-bordered" *ngIf="controlList">
			<tr>
				<th *ngFor="let key of keys">{{ key }}</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<!--<tr>
				<th *ngFor="let headLabel of controlList">{{ headLabel.label }}</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>-->

			<tr *ngFor="let record of emplist">
				<td *ngFor="let key of keys">{{ record[key] }}</td>
				<td>
					<button class="btn btn-sm btn-primary" title="Update" (click)="onUpdate(record)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
				</td>
				<td>
					<button class="btn btn-sm btn-danger" title="Delete" (click)="delete(record)"><i class="fa fa-trash" aria-hidden="true"></i></button>
				</td>
			</tr>
			<!--<tr *ngFor="let data of empList" ngModel="data[column]">
				<td>{{ item }}</td>
				<td>
					<button class="btn btn-sm btn-primary" title="Update" (click)="onUpdate(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
				</td>
				<td>
					<button class="btn btn-sm btn-danger" title="Delete" (click)="delete(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
				</td>
			</tr>-->
		</table>
		<!--<pre>{{  store | json }}</pre>-->

		<!--<pre> {{ emplist | json }}</pre>-->

		<!--<pre>{{ formValue | json }}</pre>-->
	</div>
</div>